@model GradeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Admin" asp-action="Grade" method="post">
                <select class="form-control" asp-for="SelectedGroupId">
                    @foreach (var group in Model.Groups)
                    {
                        if (!string.IsNullOrEmpty(Model.SelectedGroupId) && group.GroupId == Model.SelectedGroupId)
                        {
                            <option value="@group.GroupId" selected>@group.GroupTitle</option>
                        }
                        else
                        {
                            <option value="@group.GroupId">@group.GroupTitle</option>
                        }
                    }
                </select>
                <div class="d-flex justify-content-between">
                    <input class="btn btn-outline-success rounded" type="submit" value="Выбрать"/>
                    <a class="btn btn-outline-info rounded" asp-controller="Admin" asp-action="CreateGroup" type="button">
                        Создать группу
                    </a>
                </div>
            </form>
        </div>
    </div>
    @{
        var group = Model.Groups.FirstOrDefault();
        if (!string.IsNullOrEmpty(Model.SelectedGroupId))
            group = Model.Groups.FirstOrDefault(x => x.GroupId == Model.SelectedGroupId);
    }
    <div class="card">
        <div class="card-body">
            @if (group != default)
            {
                <h4 class="card-title">@group.GroupTitle</h4>
                <h5 class="card-title">Предметы:</h5>
                <ul class="flex-grow-1">
                    @foreach (var subject in group.Subjects)
                    {
                        <li>@subject.Title (@subject.Teacher.Surname @subject.Teacher.Name @subject.Teacher.Patronymic)</li>
                    }
                </ul>
                <h5 class="card-title">Студенты:</h5>
                <ul class="flex-grow-1">
                    @foreach (var student in group.Students)
                    {
                        <li>@student.Name @student.Surname @student.Patronymic</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>