@model IEnumerable<GroupViewModel>

@{
    ViewData["Title"] = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
        </tr>
        <tr>
            <table class="table">
                <tbody>
                @foreach (var user in item.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Surname</td>
                        <td>@user.Name</td>
                        <td>@user.Patronymic</td>
                        <td>@user.Login</td>
                        <td>@user.Role</td>
                    </tr>
                }
                </tbody>
            </table>
        </tr>
    }
    </tbody>
</table>