@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<a class="btn btn-outline-success" asp-area="" asp-controller="Admin" asp-action="Create" method="get">Create</a>

<table class="table">
    <thead>
    <tr>
        <th>@Model.Select(item => nameof(item.Id)).FirstOrDefault()</th>
        <th>@Model.Select(item => nameof(item.Surname)).FirstOrDefault()</th>
        <th>@Model.Select(item => nameof(item.Name)).FirstOrDefault()</th>
        <th>@Model.Select(item => nameof(item.Patronymic)).FirstOrDefault()</th>
        <th>@Model.Select(item => nameof(item.Login)).FirstOrDefault()</th>
        <th>@Model.Select(item => nameof(item.Role)).FirstOrDefault()</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Surname</td>
            <td>@item.Name</td>
            <td>@item.Patronymic</td>
            <td>@item.Login</td>
            <td>@item.Role</td>
            <td>
                <a class="btn btn-outline-success" asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id" method="get">Edit</a>
                <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>